/* Basics
------------------------------------------------------- */

/*
  Opera misbehaves when the window is resized vertically unless 100% width + height are
  applied to both html and body. https://gist.github.com/jfirebaugh/bd225bcfdd3a633850c4
*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    font: normal 12px/1.6667 "-apple-system", BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
        sans-serif;
    margin:0;
    padding:0;
    min-width: 768px;
    color:#333;
    overflow: hidden;
    -ms-user-select: none;
}

.unsupported {
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
    font-size: 15px;
}

.id-container {
    height: 100%;
    width: 100%;
    min-width: 768px;
}

#content {
    position: relative;
    overflow: hidden;
    height: 100%;
}

#content.active {
    -webkit-filter: none !important;
    filter: none !important;
    -webkit-duration: 200ms;
    transition-duration: 200ms;
}

#content.inactive {
    -webkit-filter: grayscale(80%) brightness(80%);
    filter: grayscale(80%) brightness(80%);
    -webkit-duration: 200ms;
    transition-duration: 200ms;
}

/* Firefox has its own ideas about fixed positioning when a css filter is active - #4348 */
/* https://stackoverflow.com/questions/37949942/firefox-position-bug-by-parent-with-filter */
@-moz-document url-prefix() {
    #content > #bar {
        width: 100vw;
    }
    #content.inactive > #bar > .spacer.col4 {
        width: 0px;
    }
    #content.active > #bar > .spacer.col4 {
        width: 33.3333%;
        transition-duration: 200ms;
        transition-timing-function: step-end;
    }
}

#defs {
    /* Can't be display: none or the clippaths are ignored. */
    position: absolute;
    width: 0;
    height: 0;
}

.spacer {
    height: 40px;
    margin-right: 10px;
}

.limiter {
    position: relative;
    max-width: 1200px;
}

.spinner {
    opacity: .5;
    float: right;
}
[dir='rtl'] .spinner {
    float: left;
}

.spinner img {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    margin-right: 10px;
    background: black;
}
[dir='rtl'] .spinner img {
    margin-left: 10px;
    margin-right: auto;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


div, textarea, label, input, form, span, ul, li, ol, a, button, h1, h2, h3, h4, h5, p, img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a, button, input, textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}

a,
button,
.checkselect label:hover,
.radial-menu-item {
    cursor: pointer;
}

h2 {
    font-size: 25px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 20px;
}

h3:last-child,
h2:last-child,
h4:last-child { margin-bottom: 0;}

h3 {
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 10px;
}

h4, h5 {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

p {
    font-size: 12px;
    margin:0;
    padding:0;
}

p:last-child {
    padding-bottom: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a:visited, a {
    color: #7092ff;
}

a:hover {
    color: #597be7;
}

/* Forms
------------------------------------------------------- */

textarea  {
    resize: vertical;
    font:normal 12px/20px "-apple-system", BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
        sans-serif;
}

textarea,
input[type=text],
input[type=search],
input[type=number],
input[type=url],
input[type=tel],
input[type=email] {
    background-color: white;
    color: #333;
    border:1px solid #ccc;
    padding:5px 20px 5px 10px;
    height:30px;
    width: 100%;
    border-radius:4px;
    text-overflow: ellipsis;
}
[dir='rtl'] textarea,
[dir='rtl'] input[type=text],
[dir='rtl'] input[type=search],
[dir='rtl'] input[type=number],
[dir='rtl'] input[type=url],
[dir='rtl'] input[type=tel],
[dir='rtl'] input[type=email] {
    padding:5px 10px 5px 20px;
}

textarea:focus,
input:focus {
    background-color: #F1F1F1;
}

input[type="checkbox"],
input[type="radio"] {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-top: 3px;
}
[dir='rtl'] input[type="checkbox"],
[dir='rtl'] input[type="radio"] {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

/* remove bottom border radius when combobox is open */
.combobox + * textarea:focus,
.combobox + * input:focus {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* tables */

table {
    background-color: white;
    border-collapse: collapse;
    width:100%;
    border-spacing:0;
}

table th {
    text-align:left;
}

table.tags, table.tags td, table.tags th {
    border: 1px solid #ccc;
    padding: 4px;
}

::-ms-clear {
   display: none;
}

/* Grid
------------------------------------------------------- */

.col0    { float:left; width:04.1666%; }
.col1    { float:left; width:08.3333%; }
.col2    { float:left; width:16.6666%; }
.col3    { float:left; width:25.0000%; max-width: 300px; }
.col4    { float:left; width:33.3333%; max-width: 400px; }
.col5    { float:left; width:41.6666%; max-width: 500px; }
.col6    { float:left; width:50.0000%; max-width: 600px; }
.col7    { float:left; width:58.3333%; }
.col8    { float:left; width:66.6666%; }
.col9    { float:left; width:75.0000%; }
.col10   { float:left; width:83.3333%; }
.col11   { float:left; width:91.6666%; }
.col12   { float:left; width:100.0000%; }

/* UI Lists
------------------------------------------------------- */

ul li { list-style: none;}

.toggle-list > label {
    position: relative;
    padding: 5px 10px;
    display: block;
    height: 30px;
    background-color: white;
    color: #7092ff;
    cursor: pointer;
}

.toggle-list > label:hover {
    background-color: #ececec;
}

.toggle-list > label:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.toggle-list > label:last-child {
    border-radius: 0 0 3px 3px;
}

.toggle-list label > span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toggle-list > label.active {
    background: #E8EBFF;
}


/* Utility Classes
------------------------------------------------------- */
.fillL {
    background: white;
    color: #333;
}

.fillL2 {
    background: #f6f6f6;
    color: #333;
}

.fillL3 {
    background: #ececec;
    color: #333;
}

.fillD {
    background:rgba(0,0,0,.5);
    color: white;
}

.fillD2 {
    background:rgba(0,0,0,.75);
    color: white;
}

.fl { float: left;}
.fr { float: right;}
.al { left: 0; }
.ar { right: 0; }

input.hide,
div.hide,
form.hide,
button.hide,
a.hide,
li.hide {
    display: none;
}

.deemphasize {
    color: #a9a9a9;
}

.content {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

.loading {
    background: url(img/loader_bg.gif);
    background-size:5px 5px;
}

.panewrap {
    position:absolute;
    width:200%;
    height:100%;
    right: -100%;
}


.pane {
    position:absolute;
    width:50%;
    top: 0;
    bottom: 30px;
}

.pane:first-child {
    left: 0;
}

.pane:last-child {
    right: 0;
}

/* Buttons */

button {
    text-align: center;
    line-height:20px;
    border:0;
    background: white;
    font-weight: bold;
    color:#333;
    font-size:12px;
    display: inline-block;
    height:40px;
    border-radius:4px;
}

button:focus,
button:hover {
    background-color: #ececec;
}

button[disabled],
button.disabled {
    background-color: rgba(255,255,255,.25);
    color: rgba(0,0,0,.4);
    cursor: auto;
}

button.active {
    background: #7092ff;
}

button.minor {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10%;
    border-radius: 0;
    background-color: #fafafa;
}
[dir='rtl'] button.minor {
    right: auto;
}

button.minor .icon {
    opacity: .5;
}

button.minor:hover {
    background-color: #f1f1f1;
}

.button-wrap {
    display: inline-block;
    padding-right:10px;
    margin: 0;
}

.button-wrap button:only-child {
    width: 100%;
}

.button-wrap:last-of-type {
    padding-right: 0;
}
[dir='rtl'] .button-wrap:last-of-type {
    padding-left: 0;
    padding-right: 10px;
}

.joined button {
    border-radius:0;
    border-right: 1px solid rgba(0,0,0,.5);
}
[dir='rtl'] .joined button {
    border-left: 1px solid rgba(0,0,0,.5);
    border-right: none;
}

.fillL .joined button {
    border-right: 1px solid white;
}

.joined button:first-child {
    border-radius: 4px 0 0 4px;
}
[dir='rtl'] .joined button:first-child {
    border-radius: 0 4px 4px 0;
}

.joined button:last-child {
    border-right-width: 0;
    border-radius: 0 4px 4px 0;
}
[dir='rtl'] .joined button:last-child {
    border-radius: 4px 0 0 4px;
}

button.action {
    background: #7092ff;
    color: white;
}

button[disabled].action,
button[disabled].action:hover {
    background: #cccccc;
    color: #888;
}

button.action:focus,
button.action:hover {
    background: #597BE7;
}

button.secondary-action {
    background: #ececec;
}

button.secondary-action:focus,
button.secondary-action:hover {
    background: #cccccc;
}

button.save .count {
    display: none;
}

button.save.has-count .count {
    display: block;
    position: absolute;
    top: 5px;
    background: #fff;
    border-color: #fff;
    opacity: 0.5;
    color: #333;
    padding: 10px;
    height: 30px;
    line-height: 12px;
    border-radius: 4px;
    margin: auto;
    margin-left: 9.3333%;
}
[dir='rtl'] button.save.has-count .count {
    margin-left: auto;
    margin-right: 8%;
}

button.save.has-count .count::before {
    content: "";
    margin: auto;
    width: 0;
    height: 0;
    position: absolute;
    left: -6px;
    top: 0;
    bottom: 0;
    border-top:    6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right-width: 6px;
    border-right-style: solid;
    border-right-color: inherit;
}
[dir='rtl'] button.save.has-count .count::before {
    border-left: 6px solid rgba(255,255,255,.5);
    border-right: none;
    left: auto;
    right: -6px;
}

/* Icons */

.icon {
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.icon.inline {
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    margin: 0px 3px;
}

.icon.pre-text {
    margin-right: 5px;
}
[dir='rtl'] .icon.pre-text {
  margin-left: 5px;
  margin-right: 0;
}

.icon.light {
    color: #fff;
}

.icon.created {
    color: #00ca07;
}

.icon.modified {
    color: #666;
}

.icon.deleted {
    color: #ea0000;
}

.user-icon {
    max-height: 20px;
    max-width: 20px;
    height: auto;
    width: auto;
    border-radius: 3px;
}


/* ToolBar / Persistent UI Elements
------------------------------------------------------- */

#bar {
    position: fixed;
    padding: 10px 0;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    z-index: 9;
    min-width: 768px;
}

[dir='rtl'] #bar .spacer,
[dir='rtl'] #bar .button-wrap,
[dir='rtl'] #bar .button-wrap button {
    float: right;
}


/* Header for modals / panes
------------------------------------------------------- */

.header {
    border-bottom: 1px solid #ccc;
    height: 60px;
    position: relative;
}

.header h3 {
    text-align: left;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px 20px 20px 40px;
}
[dir='rtl'] .header h3 {
    text-align: right;
    padding: 20px 40px 20px 20px;
}

.header button,
.modal > button {
    border-radius: 0;
    width: 40px;
    text-align: center;
    overflow: hidden;
}

.header button {
    position: relative;
    height: 100%;
}

.entity-editor-pane .header button.preset-close,
.preset-list-pane .header button.preset-choose {
    position: absolute;
    right: 0;
    top: 0;
}
[dir='rtl'] .entity-editor-pane .header button.preset-close,
[dir='rtl'] .preset-list-pane .header button.preset-choose {
    left: 0;
    right: auto;
}

.entity-editor-pane .header button.preset-choose {
    position: absolute;
    left: 0;
    top: 0;
}
[dir='rtl'] .entity-editor-pane .header button.preset-choose {
    left: auto;
    right: 0;
}

.preset-choose {
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
}

.modal > button {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 50;
}
[dir='rtl'] .modal > button {
    left: 0;
    right: unset;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 5px 20px 5px 20px;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
    width: 100%;
    z-index: 1;
}

.sidebar-component .body {
    width: 100%;
    overflow: auto;
    top: 60px;
    bottom: 0;
    position: absolute;
}


/* Hide-Toggle
------------------------------------------------------- */

.hide-toggle .icon.pre-text {
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    margin-left: -3px;
}
[dir='rtl'] .hide-toggle .icon.pre-text {
    margin-left: 0;
    margin-right: -3px;
}

a:visited.hide-toggle,
a.hide-toggle {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}


/* Inspector
------------------------------------------------------- */

#sidebar {
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    background: #f6f6f6;
    -ms-user-select: element;
}
[dir='rtl'] #sidebar {
    float: right;
}

.sidebar-component {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.inspector-wrap {
    width: 100%;
    height: 100%;
}

.inspector-hidden {
    display: none;
}

.inspector-body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.feature-list-pane .inspector-body {
    top: 120px;
}

.preset-list-pane .inspector-body {
    top: 120px;
}

.entity-editor-pane .inspector-body {
    top: 60px;
}

.selection-list-pane .inspector-body {
    top: 60px;
}

.inspector-inner {
    padding: 20px;
    position: relative;
}

#sidebar .search-header .icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 80px;
    pointer-events: none;
}
[dir='rtl'] #sidebar .search-header .icon {
    left: auto;
    right: 10px;
}

#sidebar .search-header input {
    position: absolute;
    top: 60px;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 1px;
    text-indent: 30px;
    font-size: 18px;
    font-weight: bold;
}

/* Feature list */

.feature-list  {
    width:100%;
}

.no-results-item,
.geocode-item,
.feature-list-item {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.feature-list-item {
    background-color: white;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
}

.feature-list-item:hover {
    background-color: #ececec;
}

.feature-list-item button {
    background: transparent;
}

.feature-list-item .label {
    text-align: left;
    padding: 10px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 1px solid rgba(0, 0, 0, .1);
}
[dir='rtl'] .feature-list-item .label {
    text-align: right;
}

.feature-list-item .label .icon {
    opacity: .5;
}

.feature-list-item .close {
    float: right;
    padding: 10px;
}

.feature-list-item .close .icon {
    opacity: 1;
}

.feature-list-item .entity-type {
    color:#7092ff;
}

.feature-list-item:hover .entity-type {
    color:#597be7;
}

.feature-list-item .entity-name {
    font-weight: normal;
    color: #666;
    padding-left: 10px;
}
[dir='rtl'] .feature-list-item .entity-name {
    padding-left: 0;
    padding-right: 10px;
}


/* Presets
------------------------------------------------------- */

/* Preset grid  */

.preset-list  {
    width:100%;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #ccc;
}

.preset-list-button-wrap {
    position: relative;
    margin-bottom: 10px;
    height: 60px;
}

.preset-list-button {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ccc;
}

.preset-list.filtered .preset-list-item:first-child .preset-list-button {
    background: #ececec;
}

.preset-icon-fill-area {
    cursor: inherit;
    height: 40px;
    width: 40px;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 10px;
}

.preset-icon-fill-vertex {
    height: 40px;
    width: 40px;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1.5px solid #333;
    border-radius: 20px;
    background-color: #efefef;
    backface-visibility: hidden;
}

[dir='rtl'] .preset-icon-fill-vertex,
[dir='rtl'] .preset-icon-fill-area {
  left: auto;
  right: 10px;
}

.preset-icon-frame {
    position: absolute;
    top: 7px;
    left: 7px;
    height: 42px;
    width: 42px;
    margin: auto;
}
[dir='rtl'] .preset-icon-frame {
  left: auto;
  right: 7px;
}

.preset-icon-frame .icon {
    width: 46px;
    height: 46px;
}

.preset-icon-60 {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
}

.preset-icon-60 .icon {
    width: 60px;
    height: 60px;
}

.preset-icon-44 {
    position: absolute;
    top: 9px;
    left: 8px;
    margin: auto;
}

.preset-icon-44 .icon {
    width: 44px;
    height: 44px;
}

.preset-icon-28 {
    position: absolute;
    top: 16px;
    left: 16px;
    margin: auto;
}

.preset-icon-28 .icon {
    width: 28px;
    height: 28px;
}

.preset-icon-24 {
    position: absolute;
    top: 18px;
    left: 18px;
    margin: auto;
}

.preset-icon-24 .icon {
    width: 24px;
    height: 24px;
}

[dir='rtl'] .preset-list-button-wrap .preset-icon {
    left: auto;
    right: auto;
}

[dir='rtl'] .preset-list-button-wrap .preset-icon-28 {
    right: 16px;
}

[dir='rtl'] .preset-list-button-wrap .preset-icon-24 {
    right: 18px;
}

.preset-list-button .label {
    background-color: #f6f6f6;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    left: 60px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0 3px 3px 0;
}
[dir='rtl'] .preset-list-button .label {
    text-align: right;
    left: 0;
    right: 60px;
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px 0 0 3px;
}

.preset-list-button:hover .label {
    background-color: #ececec;
}

.preset-list-item button.tag-reference-button {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    background: #fafafa;
}
[dir='rtl'] .preset-list-item button.tag-reference-button {
    left: 0;
    right: auto;
    border-radius: 3px 0 0 3px;
}

.preset-list-item button.tag-reference-button:hover {
    background: #f1f1f1;
}

.preset-list-item button.tag-reference-button .icon {
    opacity: .5;
}

.current .preset-list-button,
.current .preset-list-button .label {
    background-color: #E8EBFF;
}

.category .preset-list-button:after,
.category .preset-list-button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -1px; right: -1px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    height: 6px;
}

.category .preset-list-button:before {
    top: -3px;
}

.subgrid .preset-list {
    padding: 10px 10px 0 10px;
    margin-top: 0;
    border: 0;
    border-radius: 8px;
    width: -webkit-calc(100% + 20px);
    margin-left: -10px;
}

.subgrid .arrow {
    border: solid rgba(0, 0, 0, 0);
    border-width: 10px;
    border-bottom-color: #f1f1f1;
    width: 0;
    height: 0;
    margin-left: 50%;
    margin-left: -webkit-calc(50% - 10px);
    margin-top: -10px;
}


/* preset form basics */

.preset-editor {
    overflow: hidden;
    padding-bottom: 10px;
}

.preset-editor a.hide-toggle {
    margin: 0 20px 5px 20px;
}

.preset-editor .form-fields-container {
    padding: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 8px;
}

.preset-editor .form-fields-container:empty {
    display: none;
}

.entity-editor-pane .preset-list-item .preset-list-button-wrap {
    margin-bottom: 0;
}

.form-field {
    margin-bottom: 10px;
    width: 100%;
    -webkit-transition: margin-bottom 200ms;
       -moz-transition: margin-bottom 200ms;
         -o-transition: margin-bottom 200ms;
            transition: margin-bottom 200ms;
}

.form-field.nowrap,
.wrap-form-field:last-child .form-field {
    margin-bottom: 0;
}

.form-label {
    position: relative;
    font-weight: bold;
    border: 1px solid #cfcfcf;
    padding: 5px 0 5px 10px;
    background: #f6f6f6;
    display: block;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}
[dir='rtl'] .form-label {
    padding: 5px 10px 5px 0;
}

.form-label-button-wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: right;
}
[dir='rtl'] .form-label-button-wrap {
    text-align: left;
}

.form-label-button-wrap .tag-reference-button {
    border-radius: 0 3px 0 0;
}

.form-label-button-wrap .icon {
    opacity: .5;
}

.form-label button {
    border-left: 1px solid #ccc;
    width: 32px;
    height: 100%;
    border-radius: 0;
    background: #f6f6f6;
}
[dir='rtl'] .form-label button {
    border-left: none;
    border-right: 1px solid #ccc;
    border-radius: 4px 0 0 0;
    width: 31px;
}
.form-label button:hover {
    background: #f1f1f1;
}

.form-label .modified-icon,
.form-field .remove-icon {
    display: none;
}

.modified .form-label .modified-icon,
.present .form-label .remove-icon {
    display: inline-block;
}

.form-field > input,
.form-field > textarea,
.form-field .preset-input-wrap {
    border: 1px solid #ccc;
    min-height: 30px;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.form-field textarea {
    height: 65px;
}

.inspector-border {
    border-bottom: 1px solid #ccc
}

/* Preset form (hover mode) */

.inspector-hover .checkselect label:last-of-type,
.inspector-hover .preset-input-wrap .label,
.inspector-hover .form-field-multicombo,
.inspector-hover .structure-extras-wrap,
.inspector-hover input,
.inspector-hover textarea,
.inspector-hover label {
    background: #ececec;
}

.inspector-hover a,
.inspector-hover .form-field-multicombo .chips,
.inspector-hover .checkselect label:last-of-type {
    color: #666;
}

.inspector-hover .form-field-multicombo .chips {
    background: #eee;
    border: 1px solid #ccc;
}

/* hide and remove from layout */
.inspector-hidden,
.inspector-hover label input[type="checkbox"],
.inspector-hover label input[type="radio"],
.inspector-hover .toggle-list label,
.inspector-hover .toggle-list label span,
.inspector-hover .inspector-inner .add-tag,
.inspector-hover .inspector-inner .add-relation,
.inspector-hover .form-field-multicombo .combobox-input,
.inspector-hover .toggle-list label.remove .icon {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0 !important;
    border-width: 0;
    margin: 0;
    padding: 0;
}

/* hide but preserve in layout */
.inspector-hover .entity-editor-pane button.minor,
.inspector-hover .combobox-caret,
.inspector-hover .entity-editor-pane .header button,
.inspector-hover .spin-control,
.inspector-hover .form-field-multicombo .chips .remove,
.inspector-hover .hide-toggle:before,
.inspector-hover .more-fields,
.inspector-hover .form-label-button-wrap,
.inspector-hover .tag-reference-button,
.inspector-hover .view-on-osm {
    opacity: 0;
}

/* Styles for raw tag inspector on hover */
.inspector-hover .tag-row .key-wrap,
.inspector-hover .tag-row .form-field.input-wrap-position {
    width: 50%;
}

.inspector-hover .tag-row:first-child input.value {
    border-top-right-radius: 4px;
}
[dir='rtl'] .inspector-hover .tag-row:first-child input.value {
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
}

.inspector-hover .tag-row:last-child input.value {
    border-bottom-right-radius: 4px;
}
[dir='rtl'] .inspector-hover .tag-row:last-child input.value {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.inspector-hover .tag-row:last-child input.key {
    border-bottom-left-radius: 4px;
}
[dir='rtl'] .inspector-hover .tag-row:last-child input.key {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.inspector-hover .more-fields {
    max-height: 0;
    margin-bottom: -10px;
}

/* Unstyle button fields */
.inspector-hover .toggle-list label.active,
.inspector-hover .entity-editor-pane a.hide-toggle {
    opacity: 1;
    background-color: transparent;
    color: #666;
    padding-left: 0;
    border-width: 0;
}

.inspector-hover .toggle-list button.active {
    padding-left: 10px;
}

/* Add placeholder only on hover for radio buttons */
.inspector-hover .toggle-list .placeholder {
    color: #a9a9a9;
    padding: 5px 10px;
    opacity: 1;
    line-height: 20px;
    width: 100%;
}

/* Hide placeholder for radio buttons if another is active, or not in hover state */
.toggle-list label.active ~ .placeholder,
.toggle-list .placeholder {
    padding: 0;
    opacity: 0;
    width: 0;
    line-height: 0;
    display: block;
    overflow: hidden;
}

/* adding additional preset fields */

.more-fields {
    padding: 0 20px 20px 20px;
    font-weight: bold;
}
.changeset-editor .more-fields {
    padding: 15px 20px 0 20px;
}

.more-fields label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.more-fields input {
    margin-left: 10px;
    flex: 1 1 50%;
}
[dir='rtl'] .more-fields input {
    margin-left: auto;
    margin-right: 10px;
}

.preset-input-wrap .label {
    height: 30px;
    background: #F6F6F6;
    padding: 5px 10px;
}

[dir='rtl'] .preset-input-wrap .col6 {
    float: right;
}


/* preset form access */
/* preset form cycleway */
/* preset form structure extras */

.structure-extras-wrap li,
.form-field-cycleway .preset-input-wrap li,
.form-field-access .preset-input-wrap li {
    border-bottom: 1px solid #ccc;
}
.structure-extras-wrap li:last-child,
.form-field-cycleway .preset-input-wrap li:last-child,
.form-field-access .preset-input-wrap li:last-child {
    border-bottom: 0;
}
.structure-input-type-wrap input,
.structure-input-layer-wrap input,
.preset-input-cycleway-wrap input,
.preset-input-access-wrap input {
    border-radius: 0;
    border-width: 0;
    border-left-width: 1px;
}
[dir='rtl'] .structure-input-type-wrap input,
[dir='rtl'] .structure-input-layer-wrap input,
[dir='rtl'] .preset-input-cycleway-wrap input,
[dir='rtl'] .preset-input-access-wrap input {
    border-left-width: 0;
    border-right-width: 1px;
}

.preset-input-wrap li:last-child input {
    border-bottom-right-radius: 4px;
}

.structure-extras-wrap {
    padding: 10px 10px;
    background: #fff;
}
.structure-extras-wrap ul {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.structure-extras-wrap li:first-child span {
    border-top-left-radius: 4px;
}
.structure-extras-wrap li:first-child input {
    border-top-right-radius: 4px;
}
.structure-extras-wrap li:last-child span {
    border-bottom-left-radius: 4px;
}
.structure-extras-wrap li:last-child input {
    border-bottom-right-radius: 4px;
}
[dir='rtl'] .structure-extras-wrap li:first-child span {
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}
[dir='rtl'] .structure-extras-wrap li:first-child input {
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
}
[dir='rtl'] .structure-extras-wrap li:last-child span {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}
[dir='rtl'] .structure-extras-wrap li:last-child input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
}


/* preset form multicombo */

.form-field-multicombo {
    border: 1px solid #cfcfcf;
    border-top: 0px;
    padding: 5px 0 5px 10px;
    background: #fff;
    display: block;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.form-field-multicombo:focus {
    border-bottom: 0px;
}

.form-field-multicombo.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form-field-multicombo li {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #eff2f7;
    border: 1px solid #ccd5e3;
    border-radius: 4px;
    line-height: 25px;
    padding: 2px 5px;
    margin: 3px;
}

.form-field-multicombo a {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    line-height: 24px;
    float: right;
    margin: 1px 0 0 5px;
    padding: 0;
    cursor: pointer;
    color: #a6b4ce;
}

.form-field-multicombo input {
    border: 1px solid #ddd;
    width: 100px;
    margin: 3px;
    height: 31px;
}

.form-field-multicombo .combobox-caret {
    margin: 3px 3px 3px -30px;
}

.form-field-multicombo input:focus {
    border-radius: 4px !important;
}


/* preset form numbers */

input[type=number] {
    position: relative;
    padding-right: 20%;
}

.spin-control {
    width: 64px;
    height: 30px;
    display: inline-block;
    margin-left: -64px;
    margin-bottom: -11px;
    position: relative;
}
[dir='rtl'] .spin-control{
    margin-left: 0;
    margin-right: -64px;
}

.spin-control button {
    right: 1px;
    position: relative;
    float: left;
    height: 100%;
    width: 32px;
    border-left: 1px solid #ccc;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
}
[dir='rtl'] .spin-control button{
    border-left: 0;
    border-right: 1px solid #ccc;
}

.spin-control button.decrement {
    border-bottom-right-radius: 3px;
}
[dir='rtl'] .spin-control button.decrement {
    border-bottom-right-radius: 0;
}
[dir='rtl'] .spin-control button.increment {
    border-bottom-left-radius: 3px;
    right: 0;
}

.spin-control button.decrement::after,
.spin-control button.increment::after {
    content:"";
    height: 0; width: 0;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    margin: auto;
}

.spin-control button.decrement::after {
    border-top: 5px solid #ccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.spin-control button.increment::after {
    border-bottom: 5px solid #ccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


/* preset form checkbox */

.checkselect label:last-of-type {
    display: block;
    background: white;
    padding: 5px 10px;
    color: #7092ff;
}

.checkselect label:hover {
    background: #f1f1f1;
}

.checkselect .set {
    color: inherit;
}

.checkselect label:not(.set) input[type="checkbox"] {
    opacity: .5;
}

.checkselect .reverser.button {
    display: block;
    float: right;
    background-color: #eff2f7;
    border: 1px solid #ccd5e3;
    border-radius: 2px;
    padding: 0px 8px;
}
[dir='rtl'] .checkselect .reverser.button {
    float: left;
}
.checkselect .reverser.button.hide {
    display: none;
}

/* Preset form radio button */

.toggle-list button.remove {
    border-radius: 0 0 3px 3px;
}

.toggle-list button.remove .icon {
    position: absolute;
    left: 5px;
}

.toggle-list button.remove::before {
    content: none;
}

#preset-input-maxspeed {
    border-right: none;
    border-radius: 0 0 0 4px;
    width: 80%;
}
[dir='rtl'] #preset-input-maxspeed {
    border-right: 1px solid #ccc;
    border-radius: 0 0 4px 0;
}

.form-field .maxspeed-unit {
    border-radius: 0 0 4px 0;
    width: 20%;
}
[dir='rtl'] .form-field .maxspeed-unit {
    border-right: 0;
    border-radius: 0 0 0 4px;
}

/* Wikipedia field */
.form-field .wiki-lang {
    border-radius: 0;
}
.form-field .wiki-title {
    padding-right: 20%;
}
[dir='rtl'] .form-field .wiki-title {
    padding-left: 20%;
    padding-right: 10px;
}

.form-field .wiki-title ~ .combobox-caret {
    right: 32px;
}
[dir='rtl'] .form-field .wiki-title ~ .combobox-caret {
    right: auto;
    left: 32px;
}

/* Localized field */
.form-field .localized-main {
    padding-right: 12%;
}
[dir='rtl'] .form-field .localized-main {
    padding-left: 12%;
    padding-right: 10px;
}

.form-field .button-input-action {
    position: relative;
    right: 1px;
    width: 32px;
    margin-left: -32px;
    border: 1px solid #ccc;
    border-top-width: 0;
    border-right-width: 0;
    border-radius: 0 0 4px 0;
    height: 30px;
    vertical-align: top;
}
[dir='rtl'] .form-field .button-input-action {
    margin-left: 0;
    margin-right: -32px;
    border-right-width: 1px;
    border-radius: 0 0 0 4px;
}

.form-field .localized-wrap {
    padding: 0 10px;
}

.form-field .localized-wrap .entry {
    position: relative;
    overflow: hidden;
}

.form-field .localized-wrap .entry::before {
    content: "";
    display: block;
    position: absolute;
    background:#ccc;
    height: 11px;
    width: 1px;
    left: 0;
    right: 0;
    top: -11px;
    margin: auto;
}

.form-field .localized-wrap .entry .localized-lang {
    border-radius: 0;
    border-top-width: 0;
}

.form-field .localized-wrap .entry .localized-value {
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
}

.form-field .localized-wrap .form-label button {
    border-top-right-radius: 3px;
}

/* Preset form address */

.addr-row input {
    border-right: 0;
    border-bottom: 0;
}
[dir='rtl'] .addr-row input {
    border-right: 1px solid #ccc;
    border-left: 0;
}

.addr-row:first-of-type input {
    border-top: 0;
}

.addr-row input:first-of-type {
    border-left: 0;
}
[dir='rtl'] .addr-row input:first-of-type {
    border-right: 0;
}

.addr-row input {
    border-radius: 0;
}

.addr-row:last-of-type input:first-of-type {
    border-radius: 0 0 0 4px;
}
[dir='rtl'] .addr-row:last-of-type input:first-of-type {
    border-radius: 0 0 4px 0;
}

.addr-row:last-of-type input:last-of-type {
    border-radius: 0 0 4px 0;
}
[dir='rtl'] .addr-row:last-of-type input:last-of-type {
    border-radius: 0 0 0 4px;
}

/* Restrictions editor */

.form-field-restrictions .preset-input-wrap {
    position: relative;
    height: 300px;
}

.form-field-restrictions svg.surface {
    width: 100%;
    height: 100%;
}

.form-field-restrictions .restriction-help {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2px 6px;
    background-color: rgba(255, 255, 255, .8);
    color: #999;
    text-align: center;
}

/* Changeset editor while comment text is empty */

.form-field-comment:not(.present) #preset-input-comment {
    border-color: rgb(230, 100, 100);
}

.form-field-comment:not(.present) .form-label {
    border-color: rgb(230, 100, 100);
    background: rgba(230, 100, 100, 0.2);
}

.form-field-comment:not(.present) .form-label {
}

.form-field-comment:not(.present) .form-label-button-wrap {
    border-color: rgb(230, 100, 100);
}

.form-field-comment:not(.present) button {
    border-color: rgb(230, 100, 100);
}

/* combobox dropdown */

div.combobox {
    z-index: 9999;
    display: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-top: -1px;
    background: white;
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}

.combobox a {
    display: block;
    padding: 5px 10px;
    border-top:1px solid #ccc;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.combobox a.selected,
.combobox a:hover {
    background: #ececec;
}

.combobox a:first-child {
    border-top: 0;
}

.combobox-caret {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    margin-left: -30px;
    vertical-align: top;
}
[dir='rtl'] .combobox-caret {
  margin-left: 0;
  margin-right: -30px;
}

.combobox-caret::after {
    content:"";
    height: 0; width: 0;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    margin: auto;
    border-top: 5px solid #ccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* Raw Tag Editor */

.tag-list {
    padding-top: 10px;
}

.tag-row {
    width: 100%;
    position: relative;
    clear: both;
}

.tag-row.readonly,
.tag-row.readonly input.key,
.tag-row.readonly input.value,
.tag-row.readonly button.remove {
    color: #777777;
    background-color: #eee;
    cursor: not-allowed;
}

.tag-row input {
    height: 31px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
[dir='rtl'] .tag-row input {
    border-left: none;
    border-right: 1px solid #ccc;
}

.tag-row .key-wrap,
.tag-row .input-wrap-position {
    width: 40%;
    float: left;
    height: 30px;
}
[dir='rtl'] .tag-row .key-wrap,
[dir='rtl'] .tag-row .input-wrap-position {
    float: right;
}

.tag-row input.key {
    font-weight: bold;
    background-color: #f6f6f6;
}

.tag-row input.value {
    border-right: 1px solid #ccc;
}
[dir='rtl'] .tag-row input.value {
    border-left: 1px solid #ccc;
}

.tag-row:first-child input.key {
    border-top: 1px solid #ccc;
    border-top-left-radius: 4px;
}
[dir='rtl'] .tag-row:first-child input.key {
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}

.tag-row:first-child input.value {
    border-top: 1px solid #ccc;
}

.tag-row button {
    position: absolute;
    height: 31px;
    right: 10%;
    border: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
}
[dir='rtl'] .tag-row button {
    left: 10%;
    border-left-width: 1px;
    border-right-width: 0;
}

.tag-row button:hover {
    background: #f1f1f1;
}

.tag-row button .icon {
    opacity: .5;
}

.tag-row:first-child button {
    border-top-width: 1px;
}

.tag-row:first-child .tag-reference-button {
    border-top-right-radius: 4px;
}
[dir='rtl'] .tag-row:first-child .tag-reference-button {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
}

.tag-row:last-child .tag-reference-button {
    border-bottom-right-radius: 4px;
}
[dir='rtl'] .tag-row:last-child .tag-reference-button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.tag-row .tag-reference-button {
    right: 0;
    border-radius: 0;
    width: 10%;
    top: 0;
    background: #fafafa;
}
[dir='rtl'] .tag-row .tag-reference-button {
    left: auto;
    right: auto;
    margin-right: 35px;
    border-left-width: 1px;
    border-right-width: 0;
}

/* Adding form fields to tag editor */

.raw-tag-editor .add-tag {
    width: 40%;
    height: 30px;
    border-top: 0;
    background: rgba(0,0,0,.5);
    border-radius: 0 0 4px 4px;
}

.raw-tag-editor .add-tag:hover {
    background: rgba(0,0,0,.8);
}

.raw-tag-editor .add-tag .label {
    display: none;
}

/* Tag reference */

button.minor.tag-reference-loading {
    background-color: #f5f5f5;
}

.tag-reference-loading .icon {
    background-image: url(img/mini-loader.gif);
    background-position: 0 0;
}

.tag-reference-body {
    overflow: hidden;
    clear: both;
}

.tag-reference-body .tag-reference-description {
    margin: 10px 5px 0 5px;
}

.tag-reference-body a {
    display: block;
}

.tag-reference-body .tag-reference-description:last-child,
.tag-reference-body a:last-child {
    margin-bottom: 15px;
}

.preset-list .tag-reference-body {
    position: relative;
    width: 100%;
}

.raw-tag-editor .tag-reference-body {
    float: left;
    width: 100%;
}

.raw-tag-editor .tag-row.readonly .tag-reference-body {
    background: #f6f6f6;
    color: #333;
}

.raw-tag-editor .tag-row:not(:last-child) .tag-reference-body {
    border-bottom: 1px solid #ccc;
}

.raw-tag-editor .tag-row.readonly .tag-reference-body.expanded {
    border-top: 1px solid #ccc;
}

img.tag-reference-wiki-image {
    float: right;
    width: 33.3333%;
    width: -webkit-calc(33.3333% - 10px);
    width: calc(33.3333% - 10px);
    border-radius: 4px;
    max-height: 200px;
    margin: 10px 5px 15px 20px;
}


/* Raw relation membership editor */

.raw-member-editor .member-list li:first-child,
.raw-membership-editor .member-list li:first-child {
    padding-top: 10px;
}

.raw-member-editor .member-row,
.raw-membership-editor .member-row {
    position: relative;
}

.raw-member-editor .member-row .member-entity-name,
.raw-membership-editor .member-row .member-entity-name {
    font-weight: normal;
    padding-left: 10px;
}

.member-incomplete .member-delete {
    display: none;
}

.member-row-new .member-entity-input {
    border-radius: 4px 4px 0 0;
    border: 1px solid #cfcfcf;
}

.add-relation {
    width: 40%;
    height: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    margin-top: 10px;
}

.add-relation:hover {
    background: rgba(0,0,0,.8);
}

/* hidden field to prevent user from tabbing out of the sidebar */
input.key-trap {
    height: 0px;
    width: 0px;
    padding: 0px;
    border: 1px solid rgba(0,0,0,0);
}

/* Fullscreen button */
div.full-screen {
    float: right;
    width: 40px;
    margin-right: 10px;
}

div.full-screen .tooltip {
    min-width: 160px;
}

div.full-screen > button, div.full-screen > button.active {
    width: 40px;
    height: 40px;
    background: transparent;
}

div.full-screen > button:hover {
    background-color: rgba(0, 0, 0, .8);
}

/* Map Controls */

.map-controls {
    right: 0;
    top: 70px;
    width: 40px;
    position: fixed;
    z-index: 100;
}
[dir='rtl'] .map-controls {
    left: 0;
    right: auto;
}

.map-control > button {
    width: 40px;
    background: rgba(0,0,0,.5);
    border-radius: 0;
}

.map-control > button:hover {
    background: rgba(0, 0, 0, .8);
}

.map-control > button.active,
.map-control > button.active:hover {
    background: #7092ff;
}

/* Zoomer */

.zoombuttons button.zoom-in {
    border-radius: 4px 0 0 0;
}
[dir='rtl'] .zoombuttons button.zoom-in {
    border-radius: 0 4px 0 0;
}

/* Background / Map Data Settings */

.map-data-control button {
    border-radius: 0;
}

.background-control button {
    border-radius: 4px 0 0 0;
}
[dir='rtl'] .background-control button {
    border-radius: 0 4px 0 0;
}

.map-data-control,
.background-control {
    position: relative;
}

.imagery-faq {
    margin-bottom: 10px;
    white-space: nowrap;
}

.layer-list, .controls-list {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.layer-list li {
    position: relative;
    height: 30px;
    background-color: white;
    color: #7092ff;
}

.layer-list:empty {
    display: none;
}

.layer-list > li:first-child {
    border-radius: 3px 3px 0 0;
}

.layer-list > li:last-child {
    border-radius: 0 0 3px 3px;
}

.layer-list > li:only-child {
    border-radius: 3px;
}

.layer-list li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.layer-list li:hover {
    background-color: #ececec;
}

.layer-list li.active,
.layer-list li.switch {
    background: #e8ebff;
}

.layer-list li.best > div.best {
    display: inline-block;
    padding: 5px;
    float: right;
}

[dir='rtl'] .list-item-gpx-browse svg {
    transform: rotateY(180deg);
}

/* make sure tooltip fits in map-control panel */
/* if too wide, placement will be wrong the first time it displays */
.layer-list li.best .tooltip-inner {
    max-width: 160px;
}

.layer-list label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.layer-list label > span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Background Display Options */

.display-options-container {
    padding: 10px;
}

.display-control h5 {
    padding-bottom: 0;
    padding-top: 10px;
}

.display-control h5 span {
    margin: 5px;
}

.display-control .display-option-input {
    height: 20px;
    width: 160px;
}

.display-control button {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 0px;
    vertical-align: text-bottom;
    border-radius: 4px;
}
[dir='rtl'] .display-control button {
    margin-left: 0px;
    margin-right: 5px;
}


/* Adjust Alignment controls */

.background-control .nudge-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.nudge-container .nudge-instructions {
    padding-bottom: 15px;
}

.nudge-container .nudge-outer-rect {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px 0;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    cursor: move;
}

.nudge-container .nudge-inner-rect {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 65%;
    min-height: 20px;
}

.nudge-container .nudge::after {
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    height: 0;
    width: 0;
}

.nudge-container input {
    width: 100%;
    height: 20px;
    text-align: center;
    border: 0;
}

.nudge-container input.error {
    border: 1px solid #ff7878;
    border-radius: 2px;
    background: #ffb;
}

.nudge-container input:focus {
    background-color: transparent;
}

.nudge-container button {
    float: left;
    display: block;
    width: 20%;
    position: relative;
    background-color: transparent;
}

.nudge-container button.right {
    top: -50px;
    right: -85%;
}

.nudge-container button.left {
    top: -50px;
    right: 45%;
}

.nudge-container button.top {
    left: 20%;
    top: -104px;
}

.nudge-container button.bottom {
    left: -20%;
}

.nudge-container button.nudge-reset {
    right: -10px;
}

.nudge-surface {
   position: absolute;
   z-index: 5000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: transparent;
   cursor: move;
}

.background-control .nudge.right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #222;
}

.background-control .nudge.left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #222;
}

.background-control .nudge.top::after {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #222;
}

.background-control .nudge.bottom::after {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #222;
}


.map-data-control .layer-list button,
.background-control .layer-list button {
    float: right;
    height: 100%;
    width: 10%;
    border-left: 1px solid #ccc;
    border-radius: 0;
}
[dir='rtl'] .map-data-control .layer-list button,
[dir='rtl'] .background-control .layer-list button {
    float: left;
    border-left: none;
    border-right: 1px solid #ccc;
}

.map-data-control .layer-list button .icon,
.background-control .layer-list button .icon {
    opacity: 0.5;
}

.map-data-control .layer-list button:first-of-type,
.background-control .layer-list button:first-of-type {
    border-radius: 0 3px 3px 0;
}
[dir='rtl'] .map-data-control .layer-list button:first-of-type,
[dir='rtl'] .background-control .layer-list button:first-of-type {
    border-radius: 3px 0 0 3px;
}

.map-data-control .map-overlay,
.background-control .map-overlay,
.help-control .map-overlay {
    z-index: -1;
}

/* Geolocator */

.geolocate-control {
    margin-bottom: 10px;
}

.geolocate-control button {
    border-radius: 0 0 0 4px;
}
[dir='rtl'] .geolocate-control button {
    border-radius: 0 0 4px 0;
}

.map-overlay.content {
    position: fixed;
    top: 60px;
    bottom: 30px;
    padding: 20px 50px 20px 20px;
    right: 0;
    overflow: auto;
}
[dir='rtl'] .map-overlay.content {
    padding: 20px 20px 20px 50px;
    left: 0;
    right: auto !important;
}

.map-overlay.content > div {
    padding-bottom: 15px;
}

/* Help */

.help-control button {
    border-radius: 0 0 0 4px;
}
[dir='rtl'] .help-control button {
    border-radius: 0 0 4px 0;
}

.help-wrap p {
    font-size: 15px;
    margin-bottom: 20px;
}

.help-wrap .left-content .body p code {
    padding: 3px 4px;
    font-size: 12px;
    color: #555;
    vertical-align: baseline;
    background-color: #f6f6f6;
    border: solid 1px #ccc;
    margin: 0 2px;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.help-wrap .left-content .icon.pre-text {
    vertical-align: text-top;
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
}

.help-wrap .toc {
    width: 40%;
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.help-wrap .toc li a,
.help-wrap .nav a {
    display: block;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.help-wrap .toc li a {
    border-bottom: 0;
}

.help-wrap .toc li a:hover,
.help-wrap .nav a:hover  {
    background: #ececec;
}

.help-wrap .toc li a.selected {
    background: #e8ebff;
}

.help-wrap .toc li:first-child a {
    border-radius: 4px 4px 0 0;
}

.help-wrap .toc li:nth-last-child(3) a {
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 4px 4px
}

.help-wrap .toc li.shortcuts a,
.help-wrap .toc li.walkthrough a {
    overflow: hidden;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

.help-wrap .toc li.walkthrough a {
    text-align: center;
}

.help-wrap .nav {
    position: relative;
}

.help-wrap .nav a {
    float: left;
    width: 50%;
    text-align: center;
}

.help-wrap .nav a:first-child {
    border-radius: 4px 0 0 4px;
}

.help-wrap .nav a:last-child:not(:only-child) {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.help-wrap .nav a:only-child {
    width: 100%;
    border-radius: 4px;
}


/* Tiles
------------------------------------------------------- */

img.tile {
    position: absolute;
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0;

    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

img.tile-loaded {
    opacity: 1;
}

img.tile-removing {
    opacity: 0;
}

.tile-label-debug {
    font-size: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    z-index: 2;
    margin-left: -70px;
    margin-top: -20px;

    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img.tile-debug {
    outline: 1px solid red;
}


/* Map
------------------------------------------------------- */

#map {
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#supersurface {
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
}

#supersurface, .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Map-In-Map
------------------------------------------------------- */
.map-in-map {
    position: absolute;
    overflow: hidden;
    top: 60px;
    width: 200px;
    height: 150px;
    z-index: 5;
    background: #000;
    border: #aaa 1px solid;
    box-shadow: 0 0 2em black;
}

.map-in-map-tiles {
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map-in-map-viewport,
.map-in-map-data {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.map-in-map-viewport {
    position: absolute;
}

.map-in-map-data {
    position: relative;
    z-index: 10;
}

.map-in-map-bbox {
    fill: none;
    stroke: rgba(255, 255, 0, 0.75);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.map-in-map-bbox.thick {
    stroke-width: 5;
}


/* Debug
------------------------------------------------------- */
.debug {
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
}
.map-in-map-data .debug {
    stroke-width: 1;
}

.nocolor { color: rgba(0, 0, 0, 0); }
.red     { color: rgba(255, 0, 0, 0.75); }
.green   { color: rgba(0, 255, 0, 0.75); }
.blue    { color: rgba(0, 0, 255, 0.75); }
.yellow  { color: rgba(255, 255, 0, 0.75); }
.cyan    { color: rgba(0, 255, 255, 0.75); }
.magenta { color: rgba(255, 0, 255, 0.75); }
.orange  { color: rgba(255, 153, 0, 0.75); }
.pink    { color: rgba(255, 0, 153, 0.75); }
.purple  { color: rgba(153, 0, 255, 0.75); }

.debug-legend {
    position: absolute;
    top: 70px;
    right: 80px;
    padding: 5px;
    border-radius: 4px;
    pointer-events: none;
}

.debug-legend-item {
    padding-right: 5px;
}
.debug-legend-item:before {
    content: "\25A0";
    padding: 0 5px;
}

/* Info Box
------------------------------------------------------- */
.info-panels {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 30px;
    -ms-user-select: element;
}

.info-panels h1,
.info-panels h2,
.info-panels h3,
.info-panels h4,
.info-panels h5 {
    display: inline-block;
    margin-bottom: 0;
}

.info-panels h1,
.info-panels h2,
.info-panels h3 {
    color: #ff8;
}

.panel-container {
    flex: 0 0 auto;
    margin: 2px 0 0 2px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
    width: 250px;
}

.panel-container .panel-title {
    border-radius: 4px 4px 0 0;
}

.panel-title {
    padding: 5px 10px;
}

.panel-title button.close {
    float: right;
    height: 20px;
    background: none;
    color: #ddd;
}
[dir='rtl'] .panel-title button.close {
    float: left;
}

.panel-title button.close:hover {
    color: #fff;
}

.panel-title button.close .icon {
    height: 20px;
    width: 16px;
}

.panel-content {
    padding: 5px 10px;
    position: relative;
}

.panel-content li span {
    display: inline-block;
    white-space: nowrap;
    margin: 0 8px;
}

.panel-content .button {
    display: inline-block;
    background: #7092ff;
    border-radius: 2px;
    padding: 0 4px;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
}
[dir='rtl'] .panel-content .button {
    margin-right: auto;
    margin-left: 10px;
}

.panel-content-history .links a {
    margin-left: 8px;
}
[dir='rtl'] .panel-content-history .links a {
    margin-left: auto;
    margin-right: 8px;
}

.panel-content-history .view-history-on-osm {
    display: block;
    margin-top: 10px;
}

.panel-content-location .location-info {
    margin-top: 10px;
}


/* About Section
------------------------------------------------------- */

#about {
    width: 100%;
    position: absolute;
    right:0;
    bottom:0;
    border-radius: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    -ms-user-select: element;
}

#attrib {
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
}

#attrib * { pointer-events: all; }

.base-layer-attribution,
.overlay-layer-attribution {
    position: absolute;
    color: #ccc;
    font-size: 10px;
}

.base-layer-attribution {
    left: 10px;
}

.overlay-layer-attribution {
    right: 10px;
}

.overlay-layer-attribution .attribution:not(:last-child):after {
    content: '; ';
}

.attribution a,
.attribution a:visited {
    color: #ccf;
}

.attribution a:hover {
    color: #aaf;
}

.attribution .source-image {
    height: 20px;
    vertical-align: middle;
    border-radius: 3px;
}

.attribution span {
    margin: 0 3px;
}

#footer {
    pointer-events: all;
    display: block;
    height: 30px;
}

/* footer flash message */

#flash-wrap {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-height: 30px;
    position: absolute;
    right: 0;
    left: 0;
}

.flash-content {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    padding: 2px;
    height: 30px;
}

.flash-icon {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

.flash-icon circle {
    fill: #eee;
}
.flash-icon.disabled circle {
    cursor: auto;
    fill: rgba(255,255,255,0.7);
}

.flash-icon use {
    color: #222;
}
.flash-icon.disabled use {
    color: rgba(32,32,32,0.7);
}

.flash-icon.operation use {
    fill: #222;
    color: #79f;
}
.flash-icon.operation.disabled use {
    fill: rgba(32,32,32,0.7);
    color: rgba(40,40,40,0.7);
}

.flash-text {
    flex: 1 1 auto;
}

#footer-wrap {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-height: 30px;
    position: absolute;
    right: 0;
    left: 0;
}

.footer-show {
    bottom: 0px;
    transition: bottom 75ms linear;
    -moz-transition: bottom 75ms linear;
    -webkit-transition: bottom 75ms linear;
}

.footer-hide {
    bottom: -35px;
    transition: bottom 75ms linear;
    -moz-transition: bottom 75ms linear;
    -webkit-transition: bottom 75ms linear;
}


/* footer scale */

#scale-block {
    vertical-align: bottom;
    width: 250px;
    max-height: 30px;
    flex: 0 0 250px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#info-block {
    max-height: 30px;
    flex: 1 1 auto;
}

#scale {
    height: 30px;
    width: 100%;
}
[dir='rtl'] #scale {
    transform: scaleX(-1);
}

#scale:hover {
    cursor: pointer;
}

#scale text {
    font: 12px sans-serif;
    stroke: none;
    fill: #ccc;
    text-anchor: start;
}
[dir='rtl'] #scale text {
    transform: scaleX(-1);
}

#scale path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


#about-list {
    text-align: right;
    margin-right: 10px;
    clear: right;
    overflow: hidden;
}
[dir='rtl'] #about-list {
    text-align: left;
    clear: left;
    margin-left: 10px;
    margin-right: 0;
}

#about-list li {
    float: right;
    border-left: 1px solid rgba(255,255,255,.5);
    padding: 5px 0 5px 5px;
    margin-left: 5px;
}
[dir='rtl'] #about-list li {
    float: left;
    border-left: none;
    border-right: 1px solid rgba(255,255,255,.5);
    margin-left: 0;
    margin-right: 5px;
    padding: 5px 5px 5px 0;
}


#about-list li:last-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
[dir='rtl'] #about-list li:last-child {
    border-right: none;
}

.source-switch a {
    padding: 2px 4px 4px 4px;
    border-radius: 2px;
}
.source-switch a.live {
    background: #d32232;
    color:#fff;
}

.feature-warning a {
    background: #1e90ff;
    padding: 2px 4px 4px 4px;
    border-radius: 2px;
    color: #eee;
}

.user-list a:not(:last-child):after {
    content: ', ';
}

.api-status {
    text-align: right;
    padding: 0px 10px;
    color: #eee;
    flex: 1 1 auto;
}
[dir='rtl'] .api-status {
    text-align: left;
}

.api-status.offline,
.api-status.readonly,
.api-status.error {
    background: #a22;
}

.api-status-login {
    color: #aaf;
}
.api-status-login:hover {
    color: #ccf;
}

.badge {
    display: inline-block;
    background: #d32232;
    width: 21px;
    height: 20px;
    border-radius: 11px;
    margin-left: 6px;
}
[dir='rtl'] .badge {
    margin-left: 0;
    margin-right: 6px;
}
.badge a {
    margin-right: 5px;
}
[dir='rtl'] .badge a {
    margin-right: 0;
    margin-left: 5px;
}
.badge .icon {
    vertical-align: baseline;
    width: 11px;
    height: 11px;
    fill: white;
}


/* Modals
------------------------------------------------------- */

.modal {
    top: 40px;
    display: inline-block;
    position:absolute;
    border-radius: 3px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
}

.modal .loader {
    margin-bottom: 10px;
}

.modal .description {
    text-align: center;
}

.shaded {
    z-index: 49;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.shaded:before {
    content:'';
    background:rgba(0,0,0,0.5);
    position:fixed;
    left:0px; right:0px; top:0px; bottom:0px;
}

.modal-section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.modal-section.header h3 {
    padding: 0;
}

.modal-section.buttons {
    text-align: center;
}

.modal-section.buttons .action {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
}

.save-section .buttons .action,
.save-section .buttons .secondary-action {
    display: inline-block;
    margin: 0 20px 0 0;
    text-align: center;
    vertical-align: middle;
}

.loading-modal {
    text-align: center;
}

.modal-actions button,
.save-success a.button {
    font-weight: normal;
    color: #7092ff;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    height: 160px;
    text-align: center;
    display: inline-block;
}

.modal-actions button:hover
.save-success a.button:hover {
    background-color: #ececec;
}

.logo {
    height: 100px;
    width: 100%;
    max-width: 100px;
    margin: auto;
}

.modal-actions > :first-child {
    border-right: 1px solid #ccc;
}

.modal-section:last-child {
    border-bottom: 0;
}

/* Restore Modal
------------------------------------------------------- */
.modal-actions .logo-restore {
    color: #7092ff;
}
.modal-actions .logo-reset {
    color: #E06C5E;
}

/* Success Modal
------------------------------------------------------- */
.save-success p {
    padding: 15px 15px 0 15px;
}
.save-success a.details {
    padding-left: 15px;
}
.save-success .button {
    padding-top: 15px;
}
.save-success .logo-osm {
    color: #7092ff;
    margin-bottom: 10px;
}
.save-success a.button.social {
    height: auto;
    border-bottom: none;
}
.save-success .icon.social {
    height: 80px;
    width: 80px;
    color: #7092ff;
}

/* Splash Modal
------------------------------------------------------- */
.modal-actions .logo-walkthrough,
.modal-actions .logo-features {
    color: #7092ff;
}


/* Shortcuts Modal
------------------------------------------------------- */
.modal-shortcuts {
    width: 90%;
    max-width: 950px;
}

.modal-shortcuts .modal-section:last-child {
    padding-top: 10px;
    min-height: 275px;
}

.modal-shortcuts .tabs-bar {
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.modal-shortcuts .tab {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #666;
}
.modal-shortcuts .tab.active {
    color: #7092ff;
}
.modal-shortcuts .tab:hover {
    color: #597be7;
    background-color: #efefef;
}

.modal-shortcuts .shortcut-tab {
    display: flex;
    flex-flow: row wrap;
}

.modal-shortcuts .shortcut-column {
    flex: 1 1 50%;
    width: 50%;
}

.modal-shortcuts .shortcut-tab-tools .shortcut-column {
    flex: 1 1 100%;
    width: 100%;
}

.modal-shortcuts td {
    padding-bottom: 5px;
}

.modal-shortcuts .shortcut-section {
    padding: 20px 0 10px 0;
}

.modal-shortcuts .shortcut-keys {
    padding-right: 10px;
    color: #767676;
    text-align: right;
}
[dir='rtl'] .modal-shortcuts .shortcut-keys {
    padding-right: auto;
    padding-left: 10px;
    text-align: left;
}

.modal-shortcuts .shortcut-keys kbd {
    display: inline-block;
    text-align: center;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 12px;
    min-width: 12px;
    color: #555;
    vertical-align: baseline;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    margin: 0 2px;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

svg.mouseclick use.left {
    fill: rgba(112, 146, 255, 1);
    color: rgba(112, 146, 255, 0);
}
svg.mouseclick use.right {
    fill: rgba(112, 146, 255, 0);
    color: rgba(112, 146, 255, 1);
}

.modal-shortcuts .shortcut-keys .gesture {
    color: #333;
    padding: 3px;
}



/* Save Mode
------------------------------------------------------- */
.mode-save a.user-info {
    display: inline-block;
}

.mode-save .commit-form {
    margin-bottom: 0;
}

.mode-save .user-info img {
    float: left;
}

.mode-save h3 small.count {
    margin-right: 10px;
    text-align: center;
    float: left;
    height: 12px;
    min-width: 12px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 24px;
    padding: 5px;
    background: #7092ff;
    color: #fff;
}

.mode-save .field-warning {
    background: #ffb;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.mode-save .field-warning:empty {
    display: none;
}

.mode-save .field-warning,
.mode-save .changeset-info,
.mode-save .request-review,
.mode-save .commit-info {
    margin-bottom: 10px;
}

.mode-save .request-review label {
    cursor: pointer;
}

.mode-save .changeset-list {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 10px;
}

.mode-save .warning-section {
    background: #ffb;
}

.mode-save .warning-section .changeset-list button {
    border-left: 1px solid #ccc;
}

.mode-save .changeset-list li {
    position: relative;
    border-top: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.mode-save .changeset-list li:hover {
    background-color: #ececec;
}

.mode-save .changeset-list .alert {
    opacity: 0.5;
}

.changeset-list li span.count {
    font-size: 10px;
    color: #555;
}

.mode-save .commit-section .changeset-list button {
    border-left: 1px solid #ccc;
}

.changeset-list li span.count:before { content: '('; }

.changeset-list li span.count:after { content: ')'; }

.changeset-list li:first-child { border-top: 0;}

/* Conflict resolution
------------------------------------------------------- */

.conflicts-help {
    padding: 20px;
    background-color: #ffffbb;
    border-bottom: 1px solid #ccc;
}

.conflicts-buttons {
    padding: 20px;
}

.mode-save button.conflicts-button {
    float: left;
}

.conflict-container {
    border-bottom: 1px solid #ccc;
}

.conflict-description {
    padding: 5px 20px;
    display: block;
}

.conflicts-done {
    padding: 20px 20px 0 20px;
}

.conflict-detail-container {
    padding: 10px 20px;
}

.conflict-count {
    padding: 10px 20px;
}

.conflict-choices {
    margin-top: 10px;
}

.conflict-nav-buttons {
    padding: 10px 0 20px 0;
}

.conflict-nav-button {
    height: 30px;
}

/* Notices
------------------------------------------------------- */

.notice {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
}

.notice .zoom-to {
    margin: auto;
    width: 300px;
    height: 70px;
    font-size: 150%;
    border-radius: 8px;
}

.notice .zoom-to:hover {
    background: rgba(0,0,0,0.6);
}

.notice .zoom-to .icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
[dir='rtl'] .notice .zoom-to .icon {
    margin-left: 10px;
    margin-right: 0;
}

/* Tooltips
------------------------------------------------------- */

.tooltip {
    position: absolute;
    display: none;
    color:#333;
    font-size: 12px;
}

.tooltip.in {
    opacity: 0.9;
    z-index: 1030;
    height: auto;
    display: block;
}

.tooltip.top {
    margin-top: -20px;
    text-align: center;
}

.tooltip.right {
    margin-left: 20px;
    text-align: left;
}

.tooltip.bottom {
    margin-top: 20px;
    text-align: center;
}

.tooltip.left {
    margin-left: -20px;
    text-align: right;
}

.tooltip-inner {
    display: inline-block;
    border-radius: 3px;
    max-width: 200px;
    min-width: 80px;
    padding: 10px;
    font-weight: normal;
    background-color: white;
}

.tail {
    width: 200px;
    height: 400px;
    pointer-events: none;
    opacity: .8;
    margin-top: -200px;
    position: absolute;
    background: transparent;
}

.tail::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    right: -5px;
    margin-top: -5px;
    border-left-color: white;
    border-width: 5px 0 5px 5px;
}

.tail div {
    border-radius: 3px;
    padding: 10px;
    background: white;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

.left.tail::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-right-color: white;
    border-width: 5px 5px 5px 0;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-top-color: white;
    border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-right-color: white;
    border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: -5px;
    margin-top: -5px;
    border-left-color: white;
    border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: white;
    border-width: 0 5px 5px;
}

.tooltip-heading {
    font-weight: bold;
    background: #F6F6F6;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
}

.keyhint-wrap {
    background: #F6F6F6;
    padding: 10px;
    margin: 10px -10px -10px -10px;
    border-radius: 0 0 3px 3px;
}

.tooltip-inner .keyhint {
    font-weight: bold;
    margin-left: 5px;
}

/* Exceptions for tooltip layouts */

/* make tooltips in panels dark */
.map-overlay .tooltip.top .tooltip-arrow,
.entity-editor-pane .tooltip.top .tooltip-arrow,
.warning-section .tooltip.top .tooltip-arrow {
    border-top-color: #000;
}

.map-overlay .tooltip.bottom .tooltip-arrow,
.entity-editor-pane .tooltip.bottom .tooltip-arrow,
.warning-section .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #000;
}

.map-overlay .tooltip.left .tooltip-arrow,
.entity-editor-pane .tooltip.left .tooltip-arrow,
.warning-section .tooltip.left .tooltip-arrow {
    border-left-color: #000;
}

.map-overlay .tooltip.right .tooltip-arrow,
.entity-editor-pane .tooltip.right .tooltip-arrow,
.warning-section .tooltip.right .tooltip-arrow {
    border-right-color: #000;
}

.map-overlay .tooltip-inner,
.map-overlay .tooltip-heading,
.map-overlay .keyhint-wrap,
.entity-editor-pane .tooltip-inner,
.warning-section .tooltip-inner {
    background: #000;
    color: #ccc;
}
/* commit warning tooltips need to be closer */
.warning-section .tooltip.top {
    margin-top: -5px;
}

/* Uncramp map-control tooltips */
.map-control .tooltip {
    min-width: 160px;
}
.map-control .shortcuts .tooltip {
    max-width: 160px;
}

/* Move over tooltips that are near the edge of screen */
.add-point .tooltip {
    left: 33.3333% !important;
}
[dir='rtl'] .add-point .tooltip {
    left: inherit !important;
}

.add-point .tooltip .tooltip-arrow {
    left: 60px;
}
[dir='rtl'] .add-point .tooltip .tooltip-arrow {
    left: auto;
    right: 60px;
}

li:first-of-type .badge .tooltip,
li.hide + li.version .badge .tooltip {
    left: auto !important;
    right: 5px !important;
}
[dir='rtl'] li:first-of-type .badge .tooltip,
[dir='rtl'] li.hide + li.version .badge .tooltip {
    left: 5px !important;
    right: auto !important;
}
li:first-of-type .badge .tooltip .tooltip-arrow,
li.hide + li.version .badge .tooltip .tooltip-arrow {
    right: 15px !important;
    left: auto !important;
}
[dir='rtl'] li:first-of-type .badge .tooltip .tooltip-arrow,
[dir='rtl'] li.hide + li.version .badge .tooltip .tooltip-arrow {
    left: 15px !important;
    right: auto !important;
}


/* radial menu (deprecated) */

.radial-menu-tooltip {
    opacity: 0.8;
    display: none;
    position: absolute;
    width: 200px;
}

.radial-menu-background {
    fill: none;
    stroke: black;
    stroke-opacity: 0.5;
}

.radial-menu-item circle {
    fill: #eee;
}

.radial-menu-item circle:active,
.radial-menu-item circle:hover {
    fill: #fff;
}

.radial-menu-item.disabled circle {
    cursor: auto;
    fill: rgba(255,255,255,.5);
}

.radial-menu-item use {
    fill: #222;
    color: #79f;
}

.radial-menu-item.disabled use {
    fill: rgba(32,32,32,.5);
    color: rgba(40,40,40,.5);
}

/* edit menu */

.edit-menu-tooltip {
    display: none;
    position: absolute;
    width: 200px;
}

.edit-menu-background {
    fill: #eee;
}

.edit-menu-item rect {
    fill: #eee;
}

.edit-menu-item rect:active,
.edit-menu-item rect:hover {
    fill: #ccc;
}

.edit-menu-item.disabled rect {
    cursor: not-allowed;
}
.edit-menu-item.disabled rect:hover {
    cursor: not-allowed;
    fill: #eee;
}

.edit-menu-item use {
    fill: #222;
    color: #79f;
}

.edit-menu-item.disabled use {
    fill: rgba(32,32,32,.2);
    color: rgba(40,40,40,.2);
}


.lasso-path {
    fill-opacity:0.3;
    stroke: #fff;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke-dasharray: 5, 5;
}

/* Media Queries
------------------------------------------------------- */

@media only screen and (max-width: 840px) {
    /* override hide for save button */
    #bar .save .label { display: block;}
}

@media screen and (max-width: 1200px) {
    .user-list { display: none !important; }
}

@media screen and (max-width: 1000px) {
    #userLink { display: none !important; }
}

@media screen and (max-width: 900px) {
    #scale-block { display: none !important; }
}


/* Scrollbars
 ----------------------------------------------------- */

::-webkit-scrollbar {
    height: 20px;
    overflow: visible;
    width: 10px;
    background: white;
    border-left: 1px solid #DDD;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 3px 3px 3px 4px;
    border-radius: 6px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,.05);
}

/* Intro walkthrough
 ----------------------------------------------------- */

.curtain-darkness {
    pointer-events: all;
    fill-opacity: 0.7;
    fill: #222;
    fill-rule: evenodd;
}

.intro-nav-wrap {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 10px;
    z-index: 1001;
}

.intro-nav-wrap .intro-nav-wrap-logo {
    flex: 0 0 auto;
    height: 40px;
    width: 40px;
    color: white;
    margin: 0px 20px;
    vertical-align: middle;
}

.intro-nav-wrap .joined {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.intro-nav-wrap button.chapter {
    flex: 1 1 100%;
    padding: 0px 20px;
}

.intro-nav-wrap button.chapter.next {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes pulse {
    from  { background: #7092ff; }
    to    { background: #c6d4ff; }
}

.intro-nav-wrap button.chapter.finished {
    background: #8cd05f;
}

.intro-nav-wrap button.chapter .status {
    display: none;
}

.intro-nav-wrap button.chapter.finished .status {
    display: inline-block;
}

.curtain-tooltip.tooltip.in {
    opacity: 1;
}
.curtain-tooltip.tooltip {
    text-align: left;
}
[dir='rtl'] .curtain-tooltip.tooltip {
    text-align: right;
}

.curtain-tooltip .tooltip-inner {
    font-size: 15px;
    position: relative;
    padding: 20px;
}

.curtain-tooltip .tooltip-inner .button-section,
.curtain-tooltip .tooltip-inner .instruction {
    font-weight: bold;
    display: block;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px 0 20px;
}

[dir='rtl'] .curtain-tooltip .tooltip-inner .button-section button.col8 {
    float: right;
}

.curtain-tooltip .tooltip-inner .instruction:only-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.curtain-tooltip .tooltip-inner .icon.pre-text {
    vertical-align: text-top;
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
}

.curtain-tooltip.intro-points-describe ,
.curtain-tooltip.intro-lines-name_road {
    top: 133px !important;
}

.tooltip-illustration {
    height: 80px;
    width: 200px;
    margin-left: -20px;
    margin-top: -10px;
}
[dir='rtl'] .tooltip-illustration {
    margin-left: auto;
    margin-right: -20px;
}

.curtain-tooltip.intro-mouse {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.curtain-tooltip.intro-mouse .counter {
    position: absolute;
    display: block;
    top: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    z-index: 1003;
}

.curtain-tooltip.intro-mouse .tooltip-illustration use {
    fill: rgba(112, 146, 255, 0);
    color: rgba(112, 146, 255, 0);
}
.curtain-tooltip.intro-mouse.leftclick .tooltip-illustration use {
    fill: rgba(112, 146, 255, 1);
}
.curtain-tooltip.intro-mouse.rightclick .tooltip-illustration use {
    color: rgba(112, 146, 255, 1);
}

.huge-modal-button {
    width: 100%;
    height: auto;
    padding: 20px;
}

.huge-modal-button .illustration {
    height: 100px;
    width: 100px;
    color: #7092ff;
}
